package core

import (
	"github.com/condemo/raspi-htmx-service/public/views/components"
	"github.com/condemo/raspi-htmx-service/public/views/layout"
)

templ ConfigPage() {
	@layout.Base("Config") {
		<h1 class="text-4xl py-3">Config</h1>
		@components.AccordionSection("General", true) {
			<p>
				hello
			</p>
		}
		@components.AccordionSection("UI and Themes", false) {
			<p>
				hello
			</p>
		}
		@components.AccordionSection("Raspberry Info", false) {
			<p>
				hello
			</p>
		}
	}
}
