package core

import (
"github.com/condemo/raspi-htmx-service/api/handlers/errors"
"strconv"
)

templ ErrorPage(e errors.UnformatError) {
<h1>{ strconv.FormatInt(int64(e.Status), 10) }</h1>
<p>{ e.Error() }</p>
}
