package core

import (
	"github.com/condemo/raspi-htmx-service/api/handlers/errors"
	"github.com/condemo/raspi-htmx-service/public/views/layout"
	"strconv"
)

templ ErrorPage(e errors.UnformatError) {
	@layout.Base("Error") {
		<h1>{ strconv.FormatInt(int64(e.Status), 10) }</h1>
		<p>{ e.Error() }</p>
	}
}
