package core

import (
	"github.com/condemo/raspi-htmx-service/public/views/components"
	"github.com/condemo/raspi-htmx-service/public/views/layout"
	"github.com/condemo/raspi-htmx-service/services"
	"github.com/condemo/raspi-htmx-service/tools"
)

templ Home() {
	@layout.Base("Home") {
		<div id="home-container">
			@components.Infobar(tools.NewSysInfo())
			<div id="view-container" class="p-2">
				@components.ServiceCarousel(services.ServicesList)
			</div>
		</div>
	}
}
