package core

import (
"github.com/condemo/raspi-htmx-service/services/common/genproto/pb"
"github.com/condemo/raspi-htmx-service/services/web/public/views/components"
"github.com/condemo/raspi-htmx-service/services/web/public/views/layout"
)

templ Home(i *pb.SysInfo, services []*pb.RaspiService) {
@layout.Base("Home") {
<div id="home-container">
  @components.Infobar(i)
  <div id="view-container" class="p-2">
    @components.ServiceCarousel(services)
    <div id="service-full-info"></div>
  </div>
</div>
}
}
