package core

import (
"github.com/condemo/raspi-htmx-service/services/web/public/views/components"
"github.com/condemo/raspi-htmx-service/services/web/public/views/layout"
"github.com/condemo/raspi-htmx-service/services/web/tools"
)

templ Home() {
@layout.Base("Home") {
<div id="home-container">
  @components.Infobar(tools.NewSysInfo())
  <div id="view-container" class="p-2">
    @components.ServiceCarousel()
  </div>
</div>
}
}
