package layout

import "github.com/condemo/raspi-htmx-service/public/views/components"

templ Base(title string) {
	@Header(title) {
		// PERF: Decidir si las propiedades de ws van aquí en el body o en el componente
		<body hx-boost="true" hx-ext="ws" ws-connect="/ws/info">
			<div id="main-container" class="flex flex-col mx-auto text-center h-screen">
				@components.Navbar()
				{ children... }
			</div>
			// TODO: Implementar el Footer
			<!-- @components.Footer() -->
		</body>
	}
}
