package layout

import "github.com/condemo/raspi-htmx-service/public/views/components"

templ Base(title string) {
	@Header(title) {
		<body hx-boost="true">
			<div id="main-container" class="flex flex-col mx-auto text-center h-screen">
				@components.Navbar()
				@components.Infobar()
				{ children... }
			</div>
			@components.Footer()
		</body>
	}
}
