package components

templ Navbar() {
	<div class="navbar bg-base-100">
		<div class="navbar-start">
			<a class="btn btn-ghost text-xl" href="/">GusRaspi</a>
		</div>
		<div class="navbar-end">
			<a class="link link-secondary mx-2" hx-get="/config" hx-target="#view-container" hx-push-url="true">Config</a>
			<a class="link link-error mx-2" hx-get="/auth/logout">Logout</a>
		</div>
	</div>
}
